.contentWrapper {
  position: relative;
  display: block;

  max-width: 920px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 100px;
  padding-left: 15px;

  overflow: hidden;
}
